body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to Right, #17202A, #5DADE2);
}

.y{
    margin-right: 20px;
    margin-bottom: 25px;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 250px;
    background:  #F2F3F4;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

a {
    color: #007bff;
    text-decoration: none;
}

.Cuenta{
    margin-bottom: 30px;
}

input[type="button"]{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-family: sans-serif;
    background: linear-gradient(to Right, #5DADE2, #AED6F1);
    margin-left: 144px;
    cursor: pointer; /*para que el mouse habra la manito cuando este sobre el boton*/
    
}

/* UNIDADES DE MEDIDA*/
/* em: Lo que hace es que se medida es igual que la medida que tiene su elemento padre/*
/*rem: los mismo que em, la diferencia que en vez de buscar en el elemento padre busca en el elemento raiz*/
/*vh: es el alto que tenemos disponible en la vista, si yo agrando la pantalla va a ser esa mitad, si yo la hago mas pequeña va a ser esa mitad.*/
/*vw: es el ancho que tenemos disponible en la vista, si yo agrando la pantalla va a ser esa mitad, si yo la hago mas pequeña va a ser esa mitad.
