*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border-bottom: 3px solid rgb(24, 15, 105);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.header, .homeList {
    background-color: rgb(52, 160, 164);
}

.headerList{
    display: block;
    justify-content: center;
    


}

.homeTitle {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(52, 160, 164);
    padding: 12px;
    margin: 14px;
    max-width: 210px;
    font-family: "Dongle", sans-serif; 
    font-size: 2.3rem;
    background-color: rgb(22, 138, 173);
    border:solid ;
    border-radius: 5px ;
}


.homeList {
    display: flex;
    margin-left: 30px;
    border-radius: 5px;
    list-style-type: none;
    margin-right: 2rem;
    column-gap: 1rem;
    font-family: "Dongle", sans-serif; 
    font-size: 1.5rem;
    background-color: rgb(22, 138, 173);

    
}

.main {
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 200px;
    background-color: rgb(21, 21, 24);
}

.liItem {
    color: #FFF;
    padding: 5px;
    border: 1.5px solid #FFF;
    border-radius: 5px;
}